{% extends "layout.html" %}

{% block title %}
Powerpay Africa: Payment Prompt
{% endblock %}

{% block content %}
<!-- Modal structure -->
<div id="messageModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>

<!-- Django Messages Modal -->
{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById("messageModal");
            var span = document.getElementsByClassName("close")[0];
            var message = "";

            {% for message in messages %}
                message += "{{ message }}<br>";
            {% endfor %}

            document.getElementById("modalMessage").innerHTML = message;
            modal.style.display = "block";

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
{% endif %}

<h2>Prompt Payment</h2>
<div class="container">
    <form id="PaymentForm" method="post" action="{% url 'payment_prompt' %}">
        {% csrf_token %}
        <label for="contact">Contact:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input 
            placeholder="254XXXXXXXXX" 
            type="number" 
            id="contact" 
            name="contact" 
            maxlength="12" 
            required 
            value="{{ contact|default:'' }}"
        ><br>
        
        <label for="amount">Amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input 
            type="number" 
            id="amount" 
            name="amount" 
            required 
            value="{{ amount|default:'' }}"
        ><br>
        
        <label for="ref">Reference:&nbsp;</label>
        <input 
            type="text" 
            id="ref" 
            name="ref" 
            required 
            value="{{ ref|default:'' }}"
        ><br><br>
        
        <button type="submit">Prompt</button>
    </form>
</div>

<script>
    document.getElementById('PaymentForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var contact = document.getElementById('contact').value;
        var amount = document.getElementById('amount').value;
        var ref = document.getElementById('ref').value;
        if (confirm(`Are you sure you want to prompt ${contact} to pay ${amount} for account number ${ref}?`)) {
            this.submit();
        }
    });
</script>

<style>
    .container {
        margin: 20px;
        font-family: Rubik;
    }

    label, input {
        margin: 10px 0;
    }

    button {
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        cursor: pointer;
        width: 100px;
    }
    button:hover {
        background-color: #e68a00;
    }
</style>

{% endblock %}
