{% extends 'layout.html' %}

{% block title %}Powerpay Africa: Customer Details{% endblock %}

{% block content %}
<div class="container">
    <h2>Customer Details</h2>
    <table class="table">
        <tr><th >Name</th><td>{{ customer.name }}</td></tr>
        <tr><th>National ID</th><td>{{ customer.id_number }}</td></tr>
        <tr><th>Phone Number</th><td>{{ customer.phone_number }}</td></tr>
        <tr><th>Alternate Phone Number</th><td>{{ customer.alternate_phone_number }}</td></tr>
        <tr><th>Email</th><td>{{ customer.email }}</td></tr>
        <tr><th>Country</th><td>{{ customer.country }}</td></tr>
        <tr><th>County</th><td>{{ customer.county }}</td></tr>
        <tr><th>Sub-County</th><td>{{ customer.sub_county }}</td></tr>
        <tr><th>Location</th><td>{{ customer.location }}</td></tr>
        <tr><th>Gender</th><td>{{ customer.get_gender_display }}</td></tr>
        <tr><th>Household Type</th><td>{{ customer.get_household_type_display }}</td></tr>
        <tr><th>Household Size</th><td>{{ customer.household_size }}</td></tr>
        <tr><th>Preferred Language</th><td>{{ customer.get_preferred_language_display }}</td></tr>
        <tr><th>Registration Time</th><td>{{ registration_time|date:"d M Y h:i A" }}</td></tr>
        
    </table>
    <h3>Sales</h3>
    <table class="table">
        <thead>
            <tr>
                <th class="table_headers">Date of Registration</th>
                <th class="table_headers">Release Date</th>
                <th class="table_headers">Product Type</th>
                <th class="table_headers">Product Name</th>
                <th class="table_headers">Product Model</th>
                <th class="table_headers">Product Serial Number</th>
                <th class="table_headers">Mode of Purchase</th>
                <th class="table_headers">Payment Plan</th>
                <th class="table_headers">Referred by</th>
                <th class="table_headers">Sales Rep</th>
                <th class="table_headers">Metered</th>
                <th class="table_headers">Type of Use</th>
                <th class="table_headers">Specific economic activity</th>
                <th class="table_headers">Location of Use</th>
		<th class="table_headers">Linked Device Data</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td class="table_content">{{ sale.registration_date }}</td>
                <td class="table_content">{{ sale.release_date }}</td>
                <td class="table_content">{{ sale.get_product_type_display }}</td>
                <td class="table_content">{{ sale.product_name }}</td>
                <td class="table_content">{{ sale.product_model }}</td>
                <td class="table_content">{{ sale.product_serial_number }}</td>
                <td class="table_content">{{ sale.get_purchase_mode_display }}</td>
                <td class="table_content">{{ sale.get_payment_plan_display }}</td>
                <td class="table_content">{{ sale.referred_by }}</td>
                <td class="table_content">{{ sale.sales_rep }}</td>
                <td class="table_content">{% if sale.metered %}Yes{% else %}No{% endif %}</td>
                <td class="table_content">{{ sale.get_type_of_use_display }}</td>
                <td class="table_content">{{ sale.specific_economic_activity }}</td>
                <td class="table_content">{{ sale.location_of_use }}</td>
		<td class="table_content"> <form method="get" action="{% url 'device_data_page' deviceID=sale.product_serial_number %}">
                    <!-- <input type="hidden" name="all_devices" value="{{ device_list|join:',' }}"> -->
                    <button type="submit" class="device_data_btn"> {{ sale.product_serial_number }} data</button>
                </form> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.first_name != 'Sayona-Guest' %}
    <div>
    <form method="get" action="{% url 'sale_add' customer.pk %}">
        <button type="submit" class="device_data_btn">Add Sale</button>
    </form>
    </div>
    {% endif %}
</div>
{% endblock %}
