{% extends 'layout.html' %}

{% block title %}Powerpay Africa: Customers{% endblock %}

{% block content %}
<div class="container">
    <h2><i class="fa fa-users" aria-hidden="true" style='color:#0ead00'></i> Customers</h2>
    <div class="search-container">
        <form method="get" action="{% url 'customers_list' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search Customer by name">
            <button type="submit">Search</button>
            <a href="{% url 'customers_list' %}" class="clear-search">Clear</a>
        </form>
    </div>
    {% if user.first_name != 'Sayona-Guest' %}
    <div style="margin-bottom:20px; float:left">
    <form method="get" action="{% url 'add_customer' %}">
        <!-- <input type="hidden" name="all_devices" value="{{ device_list|join:',' }}"> -->
        <button type="submit" class="device_data_btn">Add New Customer</button>
    </form>
    </div>
    {% endif %}
    <div style="margin-bottom:10px; float:right;">
        <a href="{% url 'export_customers' %}" class="add-device-btn">Export Customer Data</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="table_headers">Name</th>
                <th class="table_headers">National ID</th>
                <th class="table_headers">Phone Number</th>
                <th class="table_headers">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td class="table_content">{{ customer.name }}</td>
                <td class="table_content">{{ customer.id_number }}</td>
                <td class="table_content">{{ customer.phone_number }}</td>
                <td class="table_content">
                    <a href="{% url 'customer_detail' customer.pk %}">🕵️‍♀️ Details</a> {% if user.first_name != 'Sayona-Guest' %}|
                    <a href="{% url 'customer_edit' customer.pk %}">📝 Edit</a> |
                    <a href="{% url 'customer_delete' customer.pk %}">❌ Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if customers.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; first</a>
                <a href="?page={{ customers.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
            </span>

            {% if customers.has_next %}
                <a href="?page={{ customers.next_page_number }}{% if query %}&q={{ query }}{% endif %}">next</a>
                <a href="?page={{ customers.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<style>
    .add-device-btn {
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: #0ead00;
        color: #fff;
        text-align: center;
    }
    .add-device-btn:hover {
        background-color: #e68a00; 
    }
</style>
{% endblock %}
