{% extends 'layout.html' %}
{% load humanize %}
{% block title %}Powerpay Africa: Paygo-Sale Details{% endblock %}

{% block content %}
<div class="container">
    <h2>Paygo Sale Details</h2>
    <p><strong>Product Name:</strong> {{ sale.product_name }}</p>
    <p><strong>Product Model:</strong> {{ sale.product_model }}</p>
    <p><strong>Product Serial Number:</strong> {{ sale.product_serial_number }} {% if sale.metered %} <form method="get" action="{% url 'device_data_page' deviceID=sale.product_serial_number %}">
        <button type="submit" class="device_data_btn"> {{ sale.product_serial_number }} data</button>
    </form> {% endif %}</p>
    <p><strong>Registration Date:</strong> {{ sale.registration_date|date:"d M Y " }}</p>
    <p><strong>Release Date:</strong> {{ sale.release_date|date:"d M Y " }}</p>
    <p><strong>Product Type:</strong> {{ sale.product_type }}</p>
    <p><strong>Purchase Mode:</strong> {{ sale.purchase_mode }}</p>
    <p><strong>Payment Plan:</strong> {{ sale.payment_plan }} {%if sale.payment_plan == 'Plan_1'%}: Deposit 4,500 with weekly payments of 190 for 40 weeks(12,100){% elif sale.payment_plan == 'Plan_2'%}: Deposit 2,500 with weekly payments of 250 for 48 weeks(14,500) {% elif sale.payment_plan == 'Wholesale' %} 10,600 {% else %} 12,100 {% endif %}</p> 
    <p><form method="get" action="{% url 'customer_detail' pk=sale.customer_id %}">
        <button type="submit" class="device_data_btn"> See Customer data</button>
    </form></p>
    <p><strong>Sales Rep:</strong> {{ sale.sales_rep }}</p>
    <p><strong>Metered:</strong> {% if sale.metered %}Yes{% else %}No{% endif %}</p>
    <p><strong>Type of Use:</strong> {{ sale.type_of_use }}</p>
    <p><strong>Specific Economic Activity:</strong> {{ sale.specific_economic_activity }}</p>
    <p><strong>Location of Use:</strong> {{ sale.location_of_use }}</p>
    <p><strong>Paygo Status:</strong> <span class="dot" style="background-color: 
        {% if paymentStatus.payment_status == 'fully-paid' %}
            blue
        {% elif paymentStatus.payment_status == 'on-time' and paymentStatus.days > 7 %}
            green
        {% elif paymentStatus.payment_status == 'on-time' and paymentStatus.days <= 7 %}
            orange
        {% elif paymentStatus.payment_status == 'overdue' %}
            red
        {% endif %}
    "></span> {{paymentStatus.payment_status}}</p>
    <p><strong>Total Paid:</strong> {{paymentStatus.totalPaid}}</p>
    <p><strong>Balance:</strong> {{paymentStatus.balance|intcomma}}</p>
    <p><strong>Paygo Balance:</strong> {{paymentStatus.paygoBalance|intcomma}}</p>
    <p><strong>Schedule:</strong> {% if paymentStatus.payment_status == 'overdue' %}
        {{ paymentStatus.days }} {% if paymentStatus.days == 1 %}day{% else %}days{% endif %} behind payment
    {% elif paymentStatus.payment_status == 'on-time' %}
        {{ paymentStatus.days }} {% if paymentStatus.days == 1 %}day{% else %}days{% endif %} to next payment
    {% else %}
        N/A
    {% endif %} </p>
</div>
<h2 style="text-align:center;">Payments for {{sale.product_serial_number}}</h2>
<table class="table">
    <thead>
        <tr>
            <th class="table_headers">Transactor Name</th>
            <th class="table_headers">Account Reference</th>
            <th class="table_headers">Transaction ID</th>
            <th class="table_headers">Amount</th>
            <th class="table_headers">Transaction Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in sale.transactions %}
        <tr>
            <td class="table_content">{{ row.name }}</td>
            <td class="table_content">{{ row.ref }}</td>
            <td class="table_content">{{ row.id }}</td>
            <td class="table_content">{{ row.amount|intcomma }}</td>
            <td class="table_content">{{ row.transtime|date:"j M Y h:i:s A" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> <!-- 
<p><form method="get" action="{% url 'paygo_sales' %}">
    <button type="submit" class="device_data_btn">⬅ Back to Paygo List</button>
</form></p> -->
<style>
    .dot {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 4px;
    }
</style>
{% endblock %}
