{% extends 'layout.html' %}

{% block title %}Powerpay Africa: Sales{% endblock %}

{% block content %}
<div class="container">
    <h2><i class="fa fa-shopping-cart" aria-hidden="true" style='color:#0ead00'></i> Sales</h2>
    <div class="search-container">
        <form method="get" action="{% url 'sales_list' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search by serial number">
            <button type="submit">Search</button>
            <a href="{% url 'sales_list' %}" class="clear-search">Clear</a>
        </form>
    </div>
    {% if user.first_name != 'Sayona-Guest' %}
    <div style="margin-bottom:20px">
    <form method="get" action="{% url 'sales_add' %}">
        <button type="submit" class="device_data_btn">Add New Sale</button>
    </form>
    </div>
    {% endif %}
    <div style="margin-bottom:20px; float:right;">
        <a href="{% url 'export_sales' %}" class="add-device-btn">Export Sales Data</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="table_headers">Product Name</th>
                <th class="table_headers">Product Model</th>
                <th class="table_headers">Serial Number</th>
                <th class="table_headers">Purchase Mode</th>
                <th class="table_headers">Customer</th>
                <th class="table_headers">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td class="table_content">{{ sale.product_name }}</td>
                <td class="table_content">{{ sale.product_model }}</td>
                <td class="table_content">{{ sale.product_serial_number }}</td>
                <td class="table_content">{{ sale.get_purchase_mode_display}}</td>
                <td class="table_content">{{ sale.customer.name }}</td>
                <td class="table_content">
                    <a href="{% url 'sale_detail' sale.pk %}">🕵️‍♀️ Details</a> {% if user.first_name != 'Sayona-Guest' %} |
                    <a href="{% url 'sale_edit' sale.pk %}">📝 Edit</a> |
                    <a href="{% url 'sale_delete' sale.pk %}">❌ Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if sales.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; first</a>
                <a href="?page={{ sales.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ sales.number }} of {{ sales.paginator.num_pages }}.
            </span>

            {% if sales.has_next %}
                <a href="?page={{ sales.next_page_number }}{% if query %}&q={{ query }}{% endif %}">next</a>
                <a href="?page={{ sales.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<style>
    .add-device-btn {
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: #0ead00;
        color: #fff;
        text-align: center;
    }
    .add-device-btn:hover {
        background-color: #e68a00; 
    }
</style>
{% endblock %}
