{% extends 'layout.html' %}

{% block title %}Delete Sale{% endblock %}

{% block content %}
<div class="container">
    <h2>Delete Sale</h2>
    <p>Are you sure you want to delete this sale?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="device_data_btn">Delete</button>
        <a href="{% if sale.customer %}{% url 'customer_detail' sale.customer.pk %}{% else %}{% url 'sales_list' %}{% endif %}" class="device_data_btn">Cancel</a>
    </form>
</div>
{% endblock %}
