{% extends "layout.html" %}

{% block title %}
Powerpay Africa: Payment Confirmation
{% endblock %}

{% block content %}
<h2>Payment Confirmation</h2>
<div class="container">
    {% if status == "success" %}
    <p>{{ message }}</p>
    <div class="success-animation">
        <div class="checkmark"></div>
    </div>
    <p>Amount: {{ amount }}</p>
    <p>Receipt Number: {{ receipt_number }}</p>
    <p>Transaction Date: {{ transaction_date }}</p>
    <p>Phone Number: {{ phone_number }}</p>
    {% else %}
        <p>{{ message }}</p>
        <div class="error-animation">
            <div class="crossmark"></div>
        </div>
    {% endif %}
</div>

<style>
    .container {
        margin: 20px;
        font-family: Rubik;
        text-align: center;
    }

    .success-animation, .error-animation {
        margin: 20px auto;
    }

    .checkmark, .crossmark {
        width: 100px;
        height: 100px;
        position: relative;
        margin: 0 auto;
    }

    .checkmark::before, .crossmark::before {
        content: '';
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f3f3f3;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .checkmark::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 25px;
        border: solid #28a745;
        border-width: 0 10px 10px 0;
        transform: rotate(315deg) scaleX(-1);
        top: 25px;
        left: 25px;
        animation: drawCheckmark 0.5s ease-in-out;
    }

    .crossmark::after, .crossmark::before {
        content: '';
        position: absolute;
        width: 70px;
        height: 10px;
        background-color: #dc3545;
        top: 45px;
        left: 15px;
        transform-origin: center;
        animation: drawCrossmark 0.5s ease-in-out;
    }

    .crossmark::before {
        transform: rotate(45deg);
    }

    .crossmark::after {
        transform: rotate(-45deg);
    }

    @keyframes drawCheckmark {
        0% {
            width: 0;
            height: 0;
        }
        100% {
            width: 50px;
            height: 25px;
        }
    }

    @keyframes drawCrossmark {
        0% {
            width: 0;
        }
        100% {
            width: 70px;
        }
    }
</style>
{% endblock %}
